# Binaries
/bin/
/build/

# Go Modules
/vendor/
# If using dep
/Gopkg.lock
/Gopkg.toml

# Test and Coverage Reports
*.cover
*.test

# IDE/Editor Files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
.Thumbs.db

# Compiled output
*.o
*.a
*.out
*.exe

# Environment Files
.env

# But explicitly track environment.env
!environment.env

# Logs
*.log
# db files
*.db

# WAL directory
wal_dir